<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%#= task.name %>
            <%= best_in_place task, :name, :as => :input %> </td>
        <td><%#= task.priority %>
            <%= best_in_place task, :priority, :as => :select, :collection => ['低', '中', '高'] %> </td>
        <td><%#= task.description %>
            <%= best_in_place task, :description, :as => :textarea %> </td>
        <td><%#= task.status %>
            <%= best_in_place task, :status, :as => :select, :collection => ['未着手', '着手中', '完了'] %> </td>
        <td><%#= task.deadline %>
            <%= best_in_place task, :deadline, :as => :date %> </td>

        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, 
                class: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
